@tailwind base;

@tailwind components;

@tailwind utilities;

p, h2, h3, h4, h5, h6, ul, ol, pre {margin-bottom: 2rem;}
h2, h3, h4, h5, h6 {color: #718096}
h3 {font-size:1.75rem;}
ul {list-style: disc; padding-left: 4rem}
pre {font-size: 1rem; color: #718096;}
a {font-weight: 500;}
a:hover, a:focus {
    color: #e53e3e;
    opacity:.5;
}
#main-content a {border-bottom: 1px solid}

article h2 a {border:none !important;}

/* accessibility */
.content a:hover, .entry-content a:focus {border-bottom: 1px solid}
#skip-links a {
    font-size: 14px;
    text-decoration: underline;    
    position: absolute;
    left: 15px;
    top: -100px;
    z-index: 10000;
    height: auto;
    margin: 0 auto;
    padding: 10px 15px;
    background-color: transparent;
    outline: none;
    transition: top .2s,background-color .2s;
}
#skip-links a:active,
#skip-links a:focus {
  top: 0;
  background-color: rgba(243, 243, 254, 0.25);
} 
#skip-links {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin-left: 0;
    list-style: outside none;
}