// Bulma // 
// 1. Import the initial variables
@import "../../node_modules/bulma/sass/utilities/initial-variables";

// 2. Overwrite some initial bulma variables
$success: #147a38;
$danger: #d1002a;

$blue: #1976d2; 

$desktop: 768px;
$widescreen: 800px;

$code: $danger;

// 3. Import the rest of what you're using with bulma
// Utilities
@import "../../node_modules/bulma/sass/utilities/_all";
// Base
@import "../../node_modules/bulma/sass/base/_all";
// Elements
@import "../../node_modules/bulma/sass/elements/button";
@import "../../node_modules/bulma/sass/elements/container";
@import "../../node_modules/bulma/sass/elements/content";
@import "../../node_modules/bulma/sass/elements/title";
// Components
@import "../../node_modules/bulma/sass/components/card";
@import "../../node_modules/bulma/sass/components/level";
@import "../../node_modules/bulma/sass/components/navbar";
@import "../../node_modules/bulma/sass/components/pagination";
// Grid
@import "../../node_modules/bulma/sass/grid/columns";
// Layout
@import "../../node_modules/bulma/sass/layout/_all";

// 4. Import some specific Wordpress css
@import "theme";

/* Sam Yerkes Overrides */
#main-content.section {padding-top:0}

.footer {
  background-color: rgba(243, 243, 254, 0.5);
  border-top: 2px solid #F3F3FF;
  border-bottom: 2px solid #F3F3FF;
}

article {
  padding-bottom: 3rem;
}

/* accessibility */
.entry-content a, #skip-links a {font-weight: 700;}
.content a:hover, .entry-content a:focus {text-decoration: underline;}
a.nav-item {
	color: #727272;
}
#skip-links a {
    font-size: 14px;
    text-decoration: underline;    
    position: absolute;
    left: 15px;
    top: -100px;
    z-index: 10000;
    height: auto;
    margin: 0 auto;
    padding: 10px 15px;
    background-color: transparent;
    outline: none;
    transition: top .2s,background-color .2s;
}
#skip-links a:active,
#skip-links a:focus {
  top: 0;
  background-color: rgba(243, 243, 254, 0.25);
} 
#skip-links {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin-left: 0;
    list-style: outside none;
}